html,
body {
    margin: 0;
    padding: 0;
    background-color: #000c36;
}


.activated {
    background-color: #FFFFFF;
    color: #3B4877;
}
.disabled-button {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
    color: #cccccc;
    background-color: #f0f0f0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
button
{
    border: none;
    outline: none;
    box-shadow: none !important;
}

button:focus
 {
    outline: none;
}
h1 {
    width: 100%;
    height:39px;
    margin-bottom: 0px;
    font-family: Roboto Slab;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 80px auto;
}

img {
    width: 325px;
    height: 460;
    border-radius: 10px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto 10px;
}

/* header h1 {
    font-family: Roboto Slab;
    font-weight: 400;
    font-style: Regular;
    font-size: 50px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;

} */
p{
    width: 325px;height: 110px;
    margin:20px;
    font-family: Roboto Slab;font-weight: 400;font-style: Regular;font-size: 18px;line-height: 100%;vertical-align: middle;
    color:#ffffff;
}
#finaln {
    margin-top:100px;
    width: 325px;
    height: 71px;
    border-radius: 10px;
    font-family: Roboto Slab;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #000C36;
    background: #51E08A;
    /* margin-left: auto;
    margin-right: auto; */
}

.moods {
    display: flex;
    justify-content: left;
    margin-left: 10px;
    gap: 4px;
}


header {
    margin-bottom: 1px;
    padding: 0;
}

.choices {
    display: flex;
    flex-direction: column;
    gap: 20px;
}