html,
body {
    margin: 0;
    padding: 0;
    background-color: #000c36;
}

textarea,
button {
    border: none;
    outline: none;
    box-shadow: none !important;
}

textarea:focus,
button:focus {
    outline: none;
}

.activated {
    background-color: #FFFFFF;
    color: #3B4877;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1 {
    margin: 3px auto 20px;

}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto 10px;
}

header h1 {
    font-family: Roboto Slab;
    font-weight: 400;
    font-style: Regular;
    font-size: 50px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
}

label {
    font-family: Roboto Slab;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 40px;
    gap: 30px;
    /* align-items: center; */
}

textarea {
    padding:20px;
    height: 78px;
    resize:none;
    overflow: hidden;
    border-radius: 10px;
    background: #3B4877;
    margin: 10px;
    font-family: Roboto Slab;
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    vertical-align: middle;
    color: #ffffff;
}

.finaln {
    width: 100%;
    height: 71px;
    border-radius: 10px;
    font-family: Roboto Slab;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #000C36;
    background: #51E08A;
    margin-left: auto;
    margin-right: auto;
}

.moods {
    display: flex;
    justify-content: left;
    margin-left: 10px;
    gap: 4px;
}

button {
    height: 25px;
    border-radius: 5px;
    background: #3B4877;
    font-family: Roboto Slab;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;

}

header {
    margin-bottom: 1px;
    padding: 0;
}

.choices {
    display: flex;
    flex-direction: column;
    gap: 20px;
}