html, body {
    margin: 0;
    padding: 0;
    background-color:#000c36;
}
*,*::before,*::after{
    box-sizing: border-box;
}
input
{
    border: none;
    outline: none;
    box-shadow: none !important;
}

input:focus
 {
    outline: none;
}

header{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin:100px auto 10px;
}
header h1{
    font-family: Carter One;
    color:#ffffff;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 325px;height: 60px;border-radius: 10px;
    background: #3B4877;
    margin:10px;
    font-family: Roboto Slab;font-weight: 300;font-style: Light;font-size: 18px;
    line-height: 100%;letter-spacing: 0%;text-align: center;vertical-align: middle;
    color: #ffffff;
    box-shadow: none;
}
main button{
    width: 325px;height: 71px;border-radius: 10px;
    font-family: Roboto Slab;font-weight: 700;font-style: Bold;font-size: 30px;leading-trim: NONE;line-height: 100%;letter-spacing: 0%;text-align: center;vertical-align: middle;
    color:#000C36;
    background: #51E08A;
    }
    